<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".asp" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange"/>
      </profiles>
    </caching>
  </system.webServer>
 <system.web.extensions>
           <scripting>
               <webServices>
                   <jsonSerialization maxJsonLength="100000000"/>
               </webServices>
           </scripting>
       </system.web.extensions>
</configuration>